.pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    padding: 40px 10px;
    gap: 20px;

    /* color: black; */ /* !!! LIGHT VERSION !!! */
    color: white;
}

.lightPages {
    color: black;
}

.darkPages {
    color: white;
}


.selectedPage {
    cursor: pointer;

    /* color: dodgerblue; */ /* !!! LIGHT VERSION !!! */
    color: red;
}

.lightSelectedPage {
    color: dodgerblue;
}

.darkSelectedPage {
    color: red;
}

.page {
    cursor: pointer;
}