<<<<<<< HEAD
/* LIGHT VERSION STYLES */
=======
.header {
    width: calc(100% - 84px);
    height: 15vh;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
}

>>>>>>> 7ddb4fa88a7edfd256ef6169f1a98400c4f7a095
.lightHeader {
    border: solid 2px rgb(195, 195, 195);
    background-color: rgb(220, 220, 220);
}

<<<<<<< HEAD
.lightLink {
    color: black;
=======
.darkHeader {
    border: solid 2px rgb(40, 40, 40);
    background-color: rgb(30, 30, 30);
}

.logo {
    width: 10%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 50px;
>>>>>>> 7ddb4fa88a7edfd256ef6169f1a98400c4f7a095
}

.lightLine {
    background-color: dodgerblue;
}

.lightIcon:hover {
    color: dodgerblue;
    font-size: 30px;
}

/* DARK VERSION STYLES */
.darkHeader {
    border: solid 2px rgb(40, 40, 40);
    background-color: rgb(30, 30, 30);
}

.darkLink {
    color: white;
}

.darkLine {
    background-color: red;
}

.darkIcon:hover {
    color: red;
    font-size: 30px;
}

/* BASE STYLES */
.headerContainer {
    box-sizing: border-box;
    width: 100vw;
    height: 25vh;
    padding: 35px;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.logo {
    box-sizing: border-box;
    width: 15%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
}

.menu {
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 10px 40px;
    font-weight: bold;
}

.themeSwitcher {
    box-sizing: border-box;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    font-size: 28px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .line {
    width: 0%;
    height: 3px;
    border-radius: 2px;
    transition: all ease 0.5s;
}

.item:hover .line {
    width: 100%;
}

.link {
    text-decoration: none;
    padding: 5px;
}

<<<<<<< HEAD
.darkIcon {
    color: white;
}

.icon {
    transition: all ease 0.25s;
=======
.lightLink {
    color: black;
}

.darkLink {
    color: white;
}

.lineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.line {
    width: 0%;
    height: 3px;
    border-radius: 2px;
    transition: width 0.5s;
}

.lightLine {
    background-color: dodgerblue;
}

.darkLine {
    background-color: red;
}

.expanded {
    width: 100%;
}

.darkIcon {
    color: white;
>>>>>>> 7ddb4fa88a7edfd256ef6169f1a98400c4f7a095
}