.flexContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lightFlexContainer {
  background-color: white;
}

.darkFlexContainer {
  background-color: black;
}